@media (max-width: 767px) {
  .wrapper{
    width: 100%;
  }
  .page1__content{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "avatar"
                         "page1ttl"
  }
  .page1__avatar{
    display: grid;
    justify-items: center;
    margin: 0 12% 0 0;
  }
  .avatar{
    margin-top: 5%;
    width: 70%;
  }
  .page1__title{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 5%;
  }
  .title{
    display: grid;
    justify-items: center;
    max-width: 100%;
    margin: 0;
    font-size: calc(15px + 40 * (100vw/767));
  }
  .text{
    margin: 5% 10% 5% 15%;
    max-width: 100%;
    line-height: 120%;
    font-size: calc(15px + 30 * (100vw/767));
    text-align: start;
  }
  .page1__mobile{
    display: grid;
  }
  .love{
    grid-template-columns: none;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:  "lovetitle"
                          "loveimg"
  }
  .love__title{
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
  }
  .ttl{
    display: flex;
    justify-content: center;
    font-size: calc(15px + 40 * (100vw/767));
    margin: 0;
  }
  .txt{
    margin: 5%;
    max-width: 100%;
    font-size: calc(15px + 30 * (100vw/767));
  }
  .fttl{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .ftxt{
    margin: 5%;
    max-width: 100%;
  }
  .port{
    grid-template-columns: none;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:  "porttitle"
                          "portimg"
  }
  .port__title{
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
  }
  .pport{
    grid-template-columns: none;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:  "pporttitle"
                          "pportimg"
  }
  .pport__title{
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
  }
  .footer__content{
    grid-template-columns: none;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas:  "footertitle"
                          "footericon"
  }
  .footer__icon{
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
  .footer__icons{
    margin: 0 12% 0 0;
    max-width: 100%;
  }
  .fimg{
    width: 60px;
  }
  .a{
  }
  .footer__title{
    display: block;
    margin: 0;
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: start;
    font-size: calc(20px + 30 * (100vw/767));
  }
  footer{
    background-image: none;
    background-color: #000;
  }
  .by{
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 4%;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 15 * (100vw/767));
  }
}
