@media (max-width: 767px) {
  .wrapper{
    width: 90%;
  }
  .page1__content{
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr;
  }
  .page1__avatar{
    display: grid;
    justify-items: center;
    margin: 0;
  }
  .avatar{
    width: 30%;
  }
  .page1__title{
    margin-left: 0;
    margin-top: 5%;
  }
  .title{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .text{
    margin: 5% 15%;
    max-width: 100%;
  }
  .page1__mobile{
    display: grid;
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 30 * (100vw/767));
  }
  .love{
    grid-template-columns: none;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:  "lovetitle"
                          "loveimg"
  }
  .love__title{
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 30 * (100vw/767));
  }
  .ttl{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .txt{
    margin: 5%;
    max-width: 100%;
  }
  .fttl{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .ftxt{
    margin: 5%;
    max-width: 100%;
  }
  .port{
    grid-template-columns: none;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:  "porttitle"
                          "portimg"
  }
  .port__title{
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 30 * (100vw/767));
  }
  .pport{
    grid-template-columns: none;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:  "pporttitle"
                          "pportimg"
  }
  .pport__title{
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 30 * (100vw/767));
  }
  .footer__content{
    grid-template-columns: none;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas:  "footertitle"
                          "footericons"
  }
  .footer__icon{
    justify-items: center;
    margin-right: 5%;
  }
  .footer__icons{
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .a{
    padding: 5%;
  }
  .footer__title{
    display: block;
    margin: 0;
    margin: 5% 5% ;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 30 * (100vw/767));
  }
  .footer__mobile{
    margin: 0;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 30 * (100vw/767));
  }
  .by{
    justify-content: center;
    margin-left: 10%;;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-size: calc(10px + 15 * (100vw/767));
  }
}
